@import 'variabls';

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

html {
  background-color: $background-color;
  color: $text-color;
  transition: background-color 0.5s, color 0.5s;
}

html.dark {
  background-color: $dark-background-color;
  color: $dark-text-color;
  transition: background-color 0.5s, color 0.5s;
}
