$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #ffffff;
$text-color: #000000;

$dark-primary-color: #1d2124;
$dark-secondary-color: #343a40;
$dark-background-color: #1d2124;
$dark-text-color: #ffffff;